@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-orange-500 { background-color: #FF871F; }
.bg-gray-350 { background-color: #9f9f9f; }
.w-38 {width: 9.5rem;}
.h-34 {height: 8.5rem;}
.w-54 {width:12.4375rem ;}


